This can be used to create a table


CREATE TABLE `users` (
  `chat_id` int(11) NOT NULL,
  `language` varchar(4) NULL,
  `id` int(11) NOT NULL,
  `date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `google` varchar(1000) DEFAULT NULL,
  `enabled` int(11) NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;



ALTER TABLE `users`
  ADD PRIMARY KEY (`id`,`chat_id`);